Repository yrro/hitron-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, mypy

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
    args:
    - --preview
- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    additional_dependencies:
    - Flake8-pyproject
- repo: local
  hooks:
  - id: safety-check
    name: safety check
    entry: bash
    args:
    - -c
    - poetry export --with=dev -E freeipa-vault -E container | safety check --stdin -i 52173 -i 52174
    language: system
    files: ^poetry\.lock$
- repo: https://github.com/python-poetry/poetry
  rev: 1.3.2
  hooks:
  - id: poetry-check
  - id: poetry-lock
    args:
    - --check
  files: ^pyproject\.toml$
- repo: local
  hooks:
  - id: mypy
    name: mypy
    entry: poetry run mypy
    language: system
    pass_filenames: false
    types:
    - python

Clarify that the check to prevent the container image push on events that aren't pushes or aren't on the master branch is NOT a security check
  .github/workflows/main.yaml
Due: none

README improvements
  README.md
Due: none

typo
  .pre-commit-config.yaml
Due: none

Revert "Extract base image information in a single workflow step"
  .github/workflows/main.yaml
Due: none

Create & commit working container for applying base image labels in separate steps
  .github/workflows/main.yaml
Due: none

Run main workflow on pushes to all branches
  .github/workflows/main.yaml
Due: none

Use common base class for *MetricFamily classes
  hitron_exporter/__init__.py
Due: mypy

Add package description
  pyproject.toml
Due: none

Add an info metric with the package version
  hitron_exporter/__init__.py
Due: mypy

Add metrics for Flask itself
  hitron_exporter/__init__.py
  poetry.lock
  pyproject.toml
Due: safety-check, mypy

Clarify why we retain our own /metrics route seemingly un-necessarily
  hitron_exporter/__init__.py
Due: mypy

Remove single-use import
  hitron_exporter/__init__.py
Due: mypy

Calculate package version number using git-describe
  .github/workflows/main.yaml
Due: none

build: don't produce a source distribution alongside the wheel
  Containerfile
Due: none

Build native code using 2 cores
  .github/workflows/main.yaml
  Containerfile
Due: none

workflow: use GITHUB_OUTPUT instead of GITHUB_ENV
  .github/workflows/main.yaml
Due: none

Update dependencies
  poetry.lock
Due: safety-check

Add black dev dependency
  poetry.lock
  pyproject.toml
Due: safety-check

Add OpenSSF Scorecard workflow
  .github/workflows/scorecard.yml
Due: none

Revert "Add black dev dependency"
  poetry.lock
  pyproject.toml
Due: safety-check

Add .git-blame-ignore-revs
  .git-blame-ignore-revs
Due: none

document force parameter
  README.md
Due: none

Rework the ipalib import code to make it less ugly
  hitron_exporter/ipavault.py
Due: mypy

Use a typed dict to store application globals instead of global variables
  hitron_exporter/__init__.py
  hitron_exporter/ipavault.py
Due: mypy

ipavault: simplify ipalib import process
  hitron_exporter/ipavault.py
Due: mypy

Add pylint to pre-commit checks
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: safety-check

Don't log contents of cookies from the CookieJar
  hitron_exporter/hitron.py
Due: mypy

Explicitly initialize logging when hosted by the Flask development server
  hitron_exporter/__init__.py
  hitron_exporter/log_config.py
Due: mypy

Warn if cookies are masked by cookies from the cookie jar
  hitron_exporter/hitron.py
Due: mypy

Silence some pylint warnings
  hitron_exporter/ipavault.py
Due: mypy

hitron: disable redirect processing when logging out
  hitron_exporter/hitron.py
Due: mypy

log_config: fix FLASK_DEBUG check logic
  hitron_exporter/log_config.py
Due: mypy

log_config: use basicConfig to configure logging
  hitron_exporter/__init__.py
  hitron_exporter/log_config.py
Due: mypy

Retrieve credentials from vaults by executing ipa-client
  Containerfile
  hitron_exporter/ipavault.py
  hitron_exporter/vault-retrieve.py
  poetry.lock
  pyproject.toml
Due: safety-check, mypy

README: not gonna add a config file
  README.md
Due: none

README: use --rm by default
  README.md
Due: none

README: remove reference to obsolete freeipa-vault extra dependencies
  README.md
Due: none

README: clarify
  README.md
Due: none

README: finish interrupted thought
  README.md
Due: none

drop typing-extensions dependency
  hitron_exporter/__init__.py
  hitron_exporter/ipavault.py
  poetry.lock
  pyproject.toml
Due: safety-check, mypy
