Repository yrro/hitron-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, mypy

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
    args:
    - --preview
- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    additional_dependencies:
    - Flake8-pyproject
- repo: local
  hooks:
  - id: safety-check
    name: safety check
    entry: bash
    args:
    - -c
    - poetry export --with=dev -E freeipa-vault -E container | safety check --stdin -i 52173 -i 52174
    language: system
    files: ^poetry\.lock$
- repo: https://github.com/python-poetry/poetry
  rev: 1.3.2
  hooks:
  - id: poetry-check
  - id: poetry-lock
    args:
    - --check
  files: ^pyproject\.toml$
- repo: local
  hooks:
  - id: mypy
    name: mypy
    entry: poetry run mypy
    language: system
    pass_filenames: false
    types:
    - python

pre-commit: stop suppressing warnings for cryptography package which we no longer use
  .pre-commit-config.yaml
Due: none

Update dependencies
  poetry.lock
  pyproject.toml
Due: safety-check

parse_pkt: become static method
  hitron_exporter/__init__.py
Due: mypy

Stop using before_first_request decorator
  hitron_exporter/__init__.py
Due: mypy

log_config: use constants for log level
  hitron_exporter/log_config.py
Due: mypy

hitron: __create_ssl_context can be a static method
  hitron_exporter/hitron.py
Due: mypy

Render Prometheus sample config file with syntax highlighting
  README.md
Due: none

typo
  hitron_exporter/__init__.py
Due: mypy

Add debug logging for early logging configuration
  hitron_exporter/log_config.py
Due: mypy

Don't track metrics for /metrics view
  hitron_exporter/__init__.py
Due: mypy

There's no need to write our own view for /metrics
  README.md
  hitron_exporter/__init__.py
Due: mypy

pre-commit: consolidate locally-defined hooks
  .pre-commit-config.yaml
Due: none

Remove unused prometheus client WSGI app
  hitron_exporter/__init__.py
Due: mypy

Update prometheus-flask-exporter version
  poetry.lock
  pyproject.toml
Due: safety-check

Use assignment expressions
  hitron_exporter/__init__.py
Due: mypy

Add tests for vault-retrieve.py
  .pre-commit-config.yaml
  README.md
  poetry.lock
  pyproject.toml
  tests/test_vault-retrieve.py
Due: safety-check, mypy

Avoid structural pattern matching
  .pre-commit-config.yaml
  tests/test_vault-retrieve.py
Due: mypy

workflow: run tests, then build wheel, then build container image
  .github/workflows/main.yaml
  .github/workflows/pre-commit.yaml
  Containerfile
Due: none

Run pre-commit checks on all branches
  .github/workflows/pre-commit.yaml
Due: none

workflow: force use of binary wheels
  Containerfile
Due: none

Add tests for hitron module
  hitron_exporter/hitron.py
  poetry.lock
  pyproject.toml
  tests/test_hitron.py
Due: safety-check, mypy

Add tests for collector
  hitron_exporter/__init__.py
  tests/test_collector.py
Due: mypy

Use AssertionError instead of RuntimeError
  hitron_exporter/hitron.py
Due: mypy

Add hitron_system_clock_timestamp_seconds metric
  README.md
  hitron_exporter/__init__.py
  tests/test_collector.py
Due: mypy

The system uptime metric parses incorrectly when running in a GitHub actions runner
  tests/test_collector.py
Due: mypy

SSH session to debug time parsing
  .github/workflows/main.yaml
Due: none

Get clock parsing tests passing with TZ=UTC
  hitron_exporter/__init__.py
  tests/test_collector.py
Due: mypy

Convert clock string to timestamp in a locale-independent way
  .github/workflows/main.yaml
  hitron_exporter/__init__.py
Due: mypy

Apply org.opencontainers.image.version label to image
  .github/workflows/main.yaml
Due: none

Prevent version from ending in a CR character
  .github/workflows/main.yaml
Due: none

README: remove note about DEBUG_METRICS
  README.md
Due: none

Better name for the module that tests the Hitron client
  tests/test_client.py
Due: mypy

Check that Client.get_data returns the expected data
  tests/test_client.py
Due: mypy

Test that the TLS server certificate's actual fingerprint is logged when a Client is created without a specified fingerprint
  tests/test_client.py
Due: mypy

tmp
  tests/test_ipavault.py
Due: mypy

Add tests for ipavault
  hitron_exporter/ipavault.py
  tests/test_ipavault.py
Due: mypy

Add test for _check_keytab_readable
  hitron_exporter/ipavault.py
  tests/test_client.py
  tests/test_ipavault.py
Due: mypy

Adopt src layout
  src/hitron_exporter/__init__.py
  src/hitron_exporter/hitron.py
  src/hitron_exporter/ipavault.py
  src/hitron_exporter/log_config.py
  src/hitron_exporter/py.typed
  src/hitron_exporter/vault-retrieve.py
Due: mypy

fixup! Add test for _check_keytab_readable
  tests/test_ipavault.py
Due: mypy

Update dependencies
  poetry.lock
Due: safety-check
