Repository yrro/hitron-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, mypy

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
    args:
    - --preview
- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    additional_dependencies:
    - Flake8-pyproject
- repo: local
  hooks:
  - id: safety-check
    name: safety check
    entry: bash
    args:
    - -c
    - poetry export --with=dev -E freeipa-vault -E container | safety check --stdin -i 52173 -i 52174
    language: system
    files: ^poetry\.lock$
- repo: https://github.com/python-poetry/poetry
  rev: 1.3.2
  hooks:
  - id: poetry-check
  - id: poetry-lock
    args:
    - --check
  files: ^pyproject\.toml$
- repo: local
  hooks:
  - id: mypy
    name: mypy
    entry: poetry run mypy
    language: system
    pass_filenames: false
    types:
    - python

Use caplog.records
  tests/test_client.py
  tests/test_ipavault.py
Due: mypy

Try Pytest GitHub Report
  .github/workflows/main.yaml
  poetry.lock
  pyproject.toml
Due: safety-check

Use assert statement to placate mypy
  src/hitron_exporter/hitron.py
Due: mypy

test_client: use the get method when asserting request properties
  tests/test_client.py
Due: mypy

test_client: remove cookie on logout
  tests/test_client.py
Due: mypy

Rely on CookieJar.add_cookie_header to resolve conflicts between cookies from the client vs cookies from the jar
  src/hitron_exporter/hitron.py
Due: mypy

client: clean up interface with cookielib
  src/hitron_exporter/hitron.py
  tests/test_client.py
Due: mypy

client: test that we're not leaking cookies between hosts
  tests/test_client.py
Due: mypy

test_client: stop using ordered requests incorrectly
  tests/test_client.py
Due: mypy

test_ipavault: incorporate test_vault_retrieve
  tests/test_ipavault.py
  tests/test_vault-retrieve.py
Due: mypy

test_ipavault: more compact Mock creation
  tests/test_ipavault.py
Due: mypy

test_ipavault: decode JSON and test dict equality
  tests/test_ipavault.py
Due: mypy

Try pytest-github-actions-annotate-failures
  poetry.lock
  pyproject.toml
Due: safety-check

Add container test suite
  README.md
  poetry.lock
  pyproject.toml
  src/hitron_exporter/__init__.py
  tests/__init__.py
  tests/conftest.py
  tests/test_container.py
Due: safety-check, mypy

Oh let's just add dist to Git
  .github/workflows/main.yaml
  Containerfile
  dist/.gitignore
Due: none

hitron: log with constructed URL
  src/hitron_exporter/hitron.py
Due: mypy

Do check httpserver assertions before the test's own assertions
  tests/test_client.py
Due: mypy

cruft removal
  Containerfile
Due: none

Run container tests in CI
  .github/workflows/main.yaml
  Containerfile
Due: none

Add bandit pre-commit hook
  .pre-commit-config.yaml
Due: none

Configure bandit via pyproject.coml
  .pre-commit-config.yaml
  pyproject.toml
Due: none

pre-commit: tell bandid to skip some low severity warnings around subprocess
  .pre-commit-config.yaml
Due: none

Remove assert statements from production code
  .pre-commit-config.yaml
  src/hitron_exporter/hitron.py
Due: mypy

style
  src/hitron_exporter/hitron.py
Due: mypy

Update dependencies
  poetry.lock
Due: safety-check

collector: extract parse_uptime to a static method
  src/hitron_exporter/__init__.py
  tests/test_collector.py
Due: mypy

Explain the double-function contruction in container tests
  tests/test_container.py
Due: mypy

Add tests for flask app
  src/hitron_exporter/__init__.py
  tests/test_app.py
Due: mypy

ipavault: use freeipa terminology for the variable that tells us where the vaults are found
  src/hitron_exporter/ipavault.py
Due: mypy

ipavault: add tests for unrecognized vault container type
  tests/test_ipavault.py
Due: mypy

test: missed an assertino
  tests/test_client.py
Due: mypy

test: missed an assertion
  tests/test_client.py
Due: mypy

Refractor hitron_exporter module into flask bits and prometheus bits
  .flaskenv
  poetry.lock
  src/hitron_exporter/__init__.py
  src/hitron_exporter/flask_app.py
  src/hitron_exporter/prometheus.py
  tests/test_app.py
  tests/test_collector.py
Due: safety-check, mypy

flask_app: less generic variable name
  src/hitron_exporter/flask_app.py
Due: mypy

typo
  src/hitron_exporter/ipavault.py
Due: mypy

ipavault: run vault-retrieve.py in text mode
  src/hitron_exporter/ipavault.py
Due: mypy

Use correct option to prevent buildah from pulling from remote registyr
  .github/workflows/main.yaml
Due: none

Fix workflow image refs to refer to the locally-built container image
  .github/workflows/main.yaml
Due: none

Apply version label as part of original image build step
  .github/workflows/main.yaml
Due: none

Use dependency_injector
  poetry.lock
  pyproject.toml
  src/hitron_exporter/flask_app.py
  tests/test_app.py
Due: safety-check, mypy
