Repository yrro/hitron-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-check, mypy, pylint, pytest

.pre-commit-config.yaml:

default_language_version:
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
  - id: black
    args:
    - --preview
- repo: https://github.com/PyCQA/flake8
  rev: 6.0.0
  hooks:
  - id: flake8
    additional_dependencies:
    - Flake8-pyproject
- repo: local
  hooks:
  - id: safety-check
    name: safety check
    entry: bash
    args:
    - -c
    - poetry export --with=dev -E container | safety check --stdin
    language: system
    files: ^poetry\.lock$
  - id: mypy
    name: mypy
    entry: poetry run mypy
    language: system
    pass_filenames: false
    types:
    - python
  - id: pylint
    name: pylint
    entry: poetry run pylint
    args:
    - --jobs=0
    - --reports=no
    - --score=no
    - --py-version=3.9
    - --disable=C,line-too-long,missing-function-docstring,missing-class-docstring,missing-module-docstring
    language: system
    types:
    - python
    exclude: ^tests/
  - id: pytest
    name: pytest
    entry: poetry run pytest
    language: system
    pass_filenames: false
    types:
    - python
- repo: https://github.com/python-poetry/poetry
  rev: 1.3.2
  hooks:
  - id: poetry-check
  - id: poetry-lock
    args:
    - --check
    files: ^pyproject\.toml$
- repo: https://github.com/PyCQA/bandit
  rev: 1.7.4
  hooks:
  - id: bandit
    exclude: ^tests/
    args: ["-c", "pyproject.toml"]
    additional_dependencies:
    - bandit[toml]

Get DI container via static method
  src/hitron_exporter/flask_app.py
Due: mypy, pylint, pytest

Switch from flake8 to ruff
  .pre-commit-config.yaml
  pyproject.toml
  tests/test_client.py
  tests/test_container.py
Due: mypy, pytest

Update dependencies
  poetry.lock
Due: safety-check

fixup! Refractor hitron_exporter module into flask bits and prometheus bits
  Containerfile
Due: none

test: quality image repository reference
  tests/test_container.py
Due: mypy, pytest
